In [6]:
! pip install pymongo

Requirement already satisfied: pymongo in c:\users\praiya\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (4.7.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\praiya\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pymongo) (2.6.1)

In [7]:
import pymongo

In [8]:
conn_str = "mongodb://localhost:27017/"
client = pymongo.MongoClient(conn_str)
print(client.list_database_names())

['admin', 'config', 'lab11', 'local']

In [9]:
mydb = client["lab11"]

In [10]:
mydb.create_collection("teachers")
mydb.create_collection("subjects")
mydb.create_collection("groups")
mydb.create_collection("group_teacher")
mydb.create_collection("students")
mydb.create_collection("scores")

CollectionInvalid: collection teachers already exists

In [ ]:
mydb.list_collection_names()

['lab',
 'scores',
 'group_teacher',
 'groups',
 'teachers',
 'subjects',
 'students']

In [39]:
mylist_teachers = [
    {"teacher_id":"T001",
     "firstname":"Khajonpong",
     "lastname":"Akkarajitsakul"
    },
    {"teacher_id":"T002",
     "firstname":"Phond",
     "lastname":"Phunchongharn"
    }
]
mycollection_teachers = mydb["teachers"]
result = mycollection_teachers.insert_many(mylist_teachers)

In [ ]:
list(mycollection_teachers.find())

[{'_id': ObjectId('6631e69ab28578040a2304c2'),
  'teacher_id': 'T001',
  'firstname': 'Khajonpong',
  'lastname': 'Akkarajitsakul'},
 {'_id': ObjectId('6631e69ab28578040a2304c3'),
  'teacher_id': 'T002',
  'firstname': 'Phond',
  'lastname': 'Phunchongharn'}]

In [11]:
mylist_subjects = [
    {"subjects_id":"CPE332",
     "subjects_name":"Database Systems"
    },
    {"subjects_id":"CPE333",
     "subjects_name":"Software Engineering"
    }
]
mycollection_subjects = mydb["subjects"]
result = mycollection_subjects.insert_many(mylist_subjects)
list(mycollection_subjects.find())

[{'_id': ObjectId('663691bddcd3deeb174a51cd'),
  'subjects_id': 'CPE332',
  'subjects_name': 'Database Systems'},
 {'_id': ObjectId('663691bddcd3deeb174a51ce'),
  'subjects_id': 'CPE333',
  'subjects_name': 'Software Engineering'}]

In [ ]:
mylist_groups = [
    {"group_id":"G001",
     "group_name":"International Section"
    },
    {"group_id":"G002",
     "group_name":"Thai Section"
    }
]
mycollection_groups = mydb["groups"]
result = mycollection_groups.insert_many(mylist_groups)
list(mycollection_groups.find())

[{'_id': ObjectId('6635f4c7ee4d4d9e734a7491'),
  'group_id': 'G001',
  'group_name': 'International Section'},
 {'_id': ObjectId('6635f4c7ee4d4d9e734a7492'),
  'group_id': 'G002',
  'group_name': 'Thai Section'}]

In [ ]:
mylist_group_teacher = [
    {"group_id":"G001",
     "subject_id":"CPE332",
     "teacher_id":"T001"
    },
    {"group_id":"G002",
     "subject_id":"CPE332",
     "teacher_id":"T001"
    },
     {"group_id":"G001",
     "subject_id":"CPE333",
     "teacher_id":"T002"
    },
     {"group_id":"G002",
     "subject_id":"CPE333",
     "teacher_id":"T001"
    },
     {"group_id":"G002",
     "subject_id":"CPE333",
     "teacher_id":"T002"
    }
]
mycollection_group_teacher = mydb["group_teacher"]
result = mycollection_group_teacher.insert_many(mylist_group_teacher)
list(mycollection_group_teacher.find())

[{'_id': ObjectId('6631e69ab28578040a2304c8'),
  'group_id': 'G001',
  'subject_id': 'CPE332',
  'teacher_id': 'T001'},
 {'_id': ObjectId('6631e69ab28578040a2304c9'),
  'group_id': 'G002',
  'subject_id': 'CPE332',
  'teacher_id': 'T001'},
 {'_id': ObjectId('6631e69ab28578040a2304ca'),
  'group_id': 'G001',
  'subject_id': 'CPE333',
  'teacher_id': 'T002'},
 {'_id': ObjectId('6631e69ab28578040a2304cb'),
  'group_id': 'G002',
  'subject_id': 'CPE333',
  'teacher_id': 'T001'},
 {'_id': ObjectId('6631e69ab28578040a2304cc'),
  'group_id': 'G002',
  'subject_id': 'CPE333',
  'teacher_id': 'T002'}]

In [ ]:
mylist_students = [
    {"student_id":"S001",
     "firstname":"Aran",
     "lastname":"Bundit",
     "group_id":"G001"
    },
    {"student_id":"S002",
     "firstname":"Arin",
     "lastname":"Akkara",
     "group_id":"G002"
    },
    {
    "student_id":"S003",
     "firstname":"Aree",
     "lastname":"Rukdee",
     "group_id":"G002"
    }
]
mycollection_students = mydb["students"]
result = mycollection_students.insert_many(mylist_students)
list(mycollection_students.find())

[{'_id': ObjectId('6635f4d6ee4d4d9e734a7493'),
  'student_id': 'S001',
  'firstname': 'Aran',
  'lastname': 'Bundit',
  'group_id': 'G001'},
 {'_id': ObjectId('6635f4d6ee4d4d9e734a7494'),
  'student_id': 'S002',
  'firstname': 'Arin',
  'lastname': 'Akkara',
  'group_id': 'G002'},
 {'_id': ObjectId('6635f4d6ee4d4d9e734a7495'),
  'student_id': 'S003',
  'firstname': 'Aree',
  'lastname': 'Rukdee',
  'group_id': 'G002'}]

In [ ]:
mylist_scores = [
    {"score_id":"001",
     "student_id":"S001",
     "subject_id":"CPE332",
     "date":"Nov 16, 2022",
     "score":"70"
    },
    {"score_id":"002",
     "student_id":"S002",
     "subject_id":"CPE332",
     "date":"Nov 16, 2022",
     "score":"72"
    },
    {"score_id":"003",
     "student_id":"S003",
     "subject_id":"CPE332",
     "date":"Nov 16, 2022",
     "score":"95"
    },
    {"score_id":"004",
     "student_id":"S001",
     "subject_id":"CPE333",
     "date":"Nov 16, 2022",
     "score":"50"
    },
    {"score_id":"005",
     "student_id":"S002",
     "subject_id":"CPE333",
     "date":"Nov 16, 2022",
     "score":"55"
    },
    {"score_id":"006",
     "student_id":"S003",
     "subject_id":"CPE333",
     "date":"Nov 16, 2022",
     "score":"20"
    },
]
mycollection_scores = mydb["scores"]
result = mycollection_scores.insert_many(mylist_scores)
list(mycollection_scores.find())

[{'_id': ObjectId('6631e69ab28578040a2304d0'),
  'score_id': '001',
  'student_id': 'S001',
  'subject_id': 'CPE332',
  'date': 'Nov 16, 2022',
  'score': '70'},
 {'_id': ObjectId('6631e69ab28578040a2304d1'),
  'score_id': '002',
  'student_id': 'S002',
  'subject_id': 'CPE332',
  'date': 'Nov 16, 2022',
  'score': '72'},
 {'_id': ObjectId('6631e69ab28578040a2304d2'),
  'score_id': '003',
  'student_id': 'S003',
  'subject_id': 'CPE332',
  'date': 'Nov 16, 2022',
  'score': '95'},
 {'_id': ObjectId('6631e69ab28578040a2304d3'),
  'score_id': '004',
  'student_id': 'S001',
  'subject_id': 'CPE333',
  'date': 'Nov 16, 2022',
  'score': '50'},
 {'_id': ObjectId('6631e69ab28578040a2304d4'),
  'score_id': '005',
  'student_id': 'S002',
  'subject_id': 'CPE333',
  'date': 'Nov 16, 2022',
  'score': '55'},
 {'_id': ObjectId('6631e69ab28578040a2304d5'),
  'score_id': '006',
  'student_id': 'S003',
  'subject_id': 'CPE333',
  'date': 'Nov 16, 2022',
  'score': '20'}]

In [12]:
mycollection = mydb['scores']
mycollection2 = mydb['subjects']
mycollection3 = mydb['students']

In [13]:
result = mycollection.find()
temp = list(result)

In [14]:
result2 = mycollection2.find()
temp2 = list(result2)

In [15]:
result3 = mycollection3.find()
temp3 = list(result3)

In [16]:
temp

[{'_id': ObjectId('66368f8d473096c2a458d62e'),
  'score_id': '001',
  'student_id': 'S001',
  'subject_id': 'CPE332',
  'date': 'Nov 16, 2022',
  'score': 70},
 {'_id': ObjectId('66368f8d473096c2a458d62f'),
  'score_id': '002',
  'student_id': 'S002',
  'subject_id': 'CPE332',
  'date': 'Nov 16, 2022',
  'score': 72},
 {'_id': ObjectId('66368f8d473096c2a458d630'),
  'score_id': '003',
  'student_id': 'S003',
  'subject_id': 'CPE332',
  'date': 'Nov 16, 2022',
  'score': 95},
 {'_id': ObjectId('66368f8d473096c2a458d631'),
  'score_id': '004',
  'student_id': 'S001',
  'subject_id': 'CPE333',
  'date': 'Nov 16, 2022',
  'score': 50},
 {'_id': ObjectId('66368f8d473096c2a458d632'),
  'score_id': '005',
  'student_id': 'S002',
  'subject_id': 'CPE333',
  'date': 'Nov 16, 2022',
  'score': 55},
 {'_id': ObjectId('66368f8d473096c2a458d633'),
  'score_id': '006',
  'student_id': 'S003',
  'subject_id': 'CPE333',
  'date': 'Nov 16, 2022',
  'score': 20}]

In [17]:
temp2

[{'_id': ObjectId('663691bddcd3deeb174a51cd'),
  'subjects_id': 'CPE332',
  'subjects_name': 'Database Systems'},
 {'_id': ObjectId('663691bddcd3deeb174a51ce'),
  'subjects_id': 'CPE333',
  'subjects_name': 'Software Engineering'}]

In [18]:
temp3

[{'_id': ObjectId('66368f8d473096c2a458d62b'),
  'student_id': 'S001',
  'firstname': 'Aran',
  'lastname': 'Bundit',
  'group_id': 'G001'},
 {'_id': ObjectId('66368f8d473096c2a458d62c'),
  'student_id': 'S002',
  'firstname': 'Arin',
  'lastname': 'Akkara',
  'group_id': 'G002'},
 {'_id': ObjectId('66368f8d473096c2a458d62d'),
  'student_id': 'S003',
  'firstname': 'Aree',
  'lastname': 'Rukdee',
  'group_id': 'G002'}]

<h1 style="color:green">1. What is the average score of each group?</h1>

In [ ]:
scoreList = []

for i in temp3: #loop เพื่อดึงคะแนนกับกลุ่มของนักเรียนแต่ละคน
    for j in temp:
        if i.get('student_id') == j.get('student_id') : 
            scoreList.append({'group_id': i.get('group_id'), 'score': j.get('score')})
            print(i.get('group_id') ,j.get('score'))

scoreList = list(scoreList)

groupList = []
for i in scoreList: #loop เพื่อจับกลุ่มเพื่อคะแนนวิชาเดียวกันมาอยู่ด้วยกัน
    for j in groupList:
        if i.get('group_id') == j.get('group_id'):
            j['score'].append(i.get('score'))
    if i.get('group_id') not in [j.get('group_id') for j in groupList]:
        groupList.append({'group_id': i.get('group_id'), 'score': [i.get('score')]})

print(groupList)

for i in groupList:
    scores = [int(score) for score in i.get('score')]  # Convert scores to list of integers
    average_score = sum(scores) / len(scores) if scores else 0  # Calculate average score
    print(i.get('group_id'), average_score)

G001 70
G001 50
G002 72
G002 55
G002 95
G002 20
[{'group_id': 'G001', 'score': ['70', '50']}, {'group_id': 'G002', 'score': ['72', '55', '95', '20']}]
G001 60.0
G002 60.5

<h1 style="color:green">2. What is the average score of each subject?</h1>

In [ ]:
SubjectScore = []
TempSubjectScore = []

for i in range(len(temp2)):
    TempSubjectScore.append(0)
    SubjectScore.append(0)


for i in range(len(temp2)):
    for j in range(len(temp)):
        if(temp[j].get("subject_id")==temp2[i].get("subjects_id")):
            TempSubjectScore[i]+=1
            SubjectScore[i]+=int(temp[j].get("score"))

for i in range(len(temp2)):
    print(SubjectScore[i]/TempSubjectScore[i])

79.0
41.666666666666664

<h1 style="color:green">3. Who is the student that got the highest marks among all the groups and subjects?</h1>

In [30]:
max_score_doc = mycollection.find_one(sort=[("score", pymongo.DESCENDING)])

student_data = mycollection3.find_one({"student_id": max_score_doc["student_id"]})
print(max_score_doc["student_id"], student_data["firstname"], student_data["lastname"])

S003 Aree Rukdee

<h1 style="color:green">4. Who is the teacher that taught the student in Q.3?</h1>

In [41]:
subject = max_score_doc["subject_id"]

mycollection4 = mydb['group_teacher']
group_teacher_data = mycollection4.find_one({"group_id": student_data["group_id"]} and {"subject_id": subject})

mycollection5 = mydb['teachers']
teacher = mycollection5.find_one({"teacher_id": group_teacher_data["teacher_id"]})

print(teacher["teacher_id"], teacher["firstname"], teacher["lastname"])

T001 Khajonpong Akkarajitsakul